*{
    padding:0;
    margin:0;
}
/* ............................................................................. */
/*Starting point: Banner Section */
.background-banner-text{
    margin:140px;
    margin-bottom: 50px;
    width: 1320px;
    height: 600px;
    color:#FFF;
    position: relative;
    border-radius: 16px;
    background-image:url('../images/Banner-image.png');
}
#new-year{
    position: absolute;
    top:25%;
    left: 40%;    
    color: #FFF;
    font-family: Merriweather;
    font-size:32px;
    font-weight:400;
}
#new-year-party{
    position: absolute;
    top:35%;
    left: 30%; 
    width: 630px;
    color: #FFF;
    font-family: Merriweather;
    font-size:72px;
    font-weight:900;
}
#new-year-cele{
    position: absolute;
    top:50%;
    left: 35%; 
    width: 630px;
    color: #FFF;
    font-family: Merriweather;
    font-size:72px;
    font-weight:900;
}
/*End point: Banner Section */
/* ............................................................................. */
/*Starting point: 65% OFF Section */
.offers{
    position: relative;
    text-align: center;
    width: 100%;
    font-style: normal;
}
.offers #new-year-offer{
    color: #F00;
    font-size: 88px;
    font-family: Inter;
}
.offers #offers-holiday{
    color: #F00;
    font-size: 20px;
    padding-top: 30px;
    font-family: Inter;
}
.offers #offers-cat{
    color: black;
    font-family: Inter;
    padding-top: 15px;
    font-size:  40px;
}
.offers img{
    padding-top: 48px;
}
/*End point: 65% OFF Section */
/* ............................................................................. */
/*starting point: Welcome to Midnight Party Section*/
.midnight-part{
    margin:140px;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1320px;
    height: 600px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/Vectorrr.png');
}
#midnight-text{
    position: relative;
    top:30%;
    left: 100px;
}
#midnight-welcome-text{
    width: 640px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 15px;
}
#mid-text{
    width: 700px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 50px;
}
#midnight-join{
    padding-left: 50px;
}
.mid-2024{
    padding-top: 100px;
    padding-right: 100px;
}
/*End point: Welcome to Midnight Party Section*/
/* ............................................................................. */
/*Starting point: Place, Date & Time Section */
.bg-style{
    margin: 140px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 1320px;
    height: 482px;
    position: relative;
    border-radius: 10px;
    background-color: #fdf1f1;
    text-align: center;
}
.bg-style .shope-place .arrange{
    color: #F00;
}
.bg-style .shope-place{
    font-size: 30px;
    font-family: Inter;
    position: absolute;
    left: 30%;
    top: 30%;   
}
.text-place{
    font-family: Inter;
    padding-top: 10px;
}
#join-btn{
    background-color: #F00;
    color: white;
    border: 0;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}
#btn-bg{
    padding-top: 20px;
}
/*End point: Place, Date & Time Section */
/* ............................................................................. */
/*Starting point: NEW BEST OFFER Section */
.new-best-offer{
    margin: 140px;
    display: flex;
    width: 1320px;
    height: 500px;
    justify-content: space-between;
}
.new-best-offer .new-best-text{
    text-align: left;
    width: 350px;
    padding-top: 150px ;
}
#offer-text{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
#text-coming-soon{
    color: #070310;
    padding-top: 20px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
#Best-text{
    color: rgba(4, 1, 11, 0.6);
    font-family: Inter;
    font-size: 15px;
    padding-top: 20px;
    font-weight: 400;
}
.ellipse{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}
#ellipse-img{
    width: 360px;
    position: relative;
    top: 50px;
    left: 50px;
    height: 360px;
}

.new-2024{
    text-align: left;
    width: 350px;
    padding-top: 130px;
}
#year-2024{
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

#new-24-img{
    padding-top: 40px;
}
/*End point: NEW BEST OFFER Section */
/* ............................................................................. */
/* Starting Point: WHAT IS FUNCTIONAL  */
.what-is-function{
    margin: 140px;
    width: 1320px;
    height: 250px;
}
.function-text{
    text-align: center;
}
#functional-text{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
#functional-holiday{
    color: #070211;
    font-family: Merriweather;
    padding-top: 25px;
    font-size: 72px;
    font-weight: 900;
}
#holiday{
    color: #F00;
}
#holiday-description-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    padding-top: 40px;
    padding-left: 200px;
    width: 1000px;
    font-size: 20px;
    font-weight: 500;
}
/* End Point: WHAT IS FUNCTIONAL  */
/* ............................................................................. */
/*Starting point: Magic Box offer */
.magic-offer{
    margin-left: 140px;
    width: 1320px;
}
#offer-50{
    display: flex;
    position: relative;
    padding-left: 890px;
}
#Group44{
    position: absolute;
    top: 23%;
    left: 55%;
}
.offer-50-img-box{
    position: relative;
}
#offer-group75{
    position: absolute;
    bottom: 10px;
    z-index: 1;
}
.image-group{
    position: relative;
    width: 1335px;
    height: 229px; 
    background-image: url('../images/Rectangle2.png');
    background-repeat: no-repeat;
    border-radius: 16px 0px 16px 16px;
}
/*End point: Magic Box offer */
/* ............................................................................. */
/*Starting point: THE BEST GIFTS & Portfolio Section */
.the-best-gift{
    margin: 140px;
    margin-top: 50px;
    padding-top: 50px;
}
.header-best-gifts{
    color: #F00;
    font-family: Inter;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}
#best-gift-portfolio{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 15px;
}
#gift-text{
    color: rgba(8, 3, 18, 0.6);
    font-family: Inter;
    font-size: 20px;
    width: 1000px;
    font-weight: 400;
    padding-bottom: 15px;
}
.gift-image1{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.img-hover:hover{
    transform: scale(1.5);
    z-index: 3;
}
/*Starting point: THE BEST GIFTS & Portfolio Section */
/* ............................................................................. */
/*Starting point: subscribe Section */
.subscribe{
    margin: 140px;
    width: 1320px;
    height: 400px;
    border-radius: 10px;
    background-color: #fdf1f1;
    text-align: center;
    padding: 50px;
    padding-top: 70px;
}
.subscribe #subscribe-news{
    color: #070211; 
    font-family: Merriweather;
    padding-top: 10px;
    font-size: 48px;
    font-weight: 900;
}
.subscribe #subscribe-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    padding-left: 150px;
    width: 1000px;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 400;
}
.subscribe .input-email{
    padding-top: 50px;
    border: none;
    height: 70px;
    border-radius:5px;
}
#sub-email{
    background-color: #F00;
    color: #FFF;
}
/*End point: subscribe Section */
/* ............................................................................. */
/*Starting point: footer section */
.footer-section{
    width: 100%;
    height: 500px;
    color:#FFF;
    padding-left: 100px;
    background-color: #070211;
}
.footer-text{
    display: flex;
    font-family: Inter;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}
.footer-add{
    padding-top: 100px;
    padding-bottom: 40px;
}
#florida{
    padding-top: 10px;
}
.footer-contact{
    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 40px;
}
.social-links{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.footer-arrange{
    display: flex;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 200px;
}
.social-links .link-icon{
    padding-right: 10px;
}
/*End point: footer section*/
/* ............................................................................. */