*{
    padding:0;
    margin:0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

/* Banner Section */
.background-banner{
    width: 100%;
    height: auto;
    position: relative;
}
.background-banner img{
    padding: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.background-banner .background-text{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    font-family: Merriweather;

}
.background-banner .background-text #new-year{
    font-size: 20px;
}
.background-banner .background-text #new-year-party{
    padding-top: 20px;
}

/* Offer section for new year */
.offers{
    position: relative;
    text-align: center;
    width: 100%;
    font-style: normal;
}

.offers #new-year-offer{
    color: #F00;
    font-size: 88px;
    font-family: Inter;
}

.offers #offers-holiday{
    color: #F00;
    font-size: 20px;
    padding-top: 48px;
    font-family: Inter;
}
.offers #offers-cat{
    color: black;
    font-family: Inter;
    font-size:  40px;
}

.offers img{
    padding-top: 48px;
}

/* Place, Date & Time Section */
.bg-style{
    margin: 140px;
    width: 1320px;
    height: 482px;
    position: relative;
    border-radius: 10px;
    background-color: #fdf1f1;
    text-align: center;
}

.bg-style .shope-place .arrange{
    color: #F00;
}

 .bg-style .shope-place{
    font-size: 15px;
    position: absolute;
    left: 35%;
    top: 35%;   
}

.text-place{
    font-family: Inter;
    padding-top: 10px;
}

#join-btn{
    background-color: #F00;
    color: white;
    border: 0;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
#btn-bg{
    padding-top: 20px;
}

/* NEW BEST OFFER Section */
.new-best-offer{
    margin: 140px;
    display: flex;
    width: 1320px;
    height: 500px;
    justify-content: space-between;
}
.new-best-offer .new-best-text{
    text-align: left;
    width: 350px;
    padding-top: 150px ;
}

#offer-text{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

#text-coming-soon{
    color: #070211;
    padding-top: 20px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#Best-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    padding-top: 20px;
    font-weight: 400;
}
.ellipse{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}
#ellipse-img{
    width: 360px;
    position: relative;
    top: 35px;
    left:35px;
    height: 360px;
}

.new-2024{
    text-align: left;
    width: 350px;
    padding-top: 130px;
}
#year-2024{
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

#new-24-img{
    padding-top: 20px;
}

/* Portfolio Section */
.the-best-gift{
    margin: 140px;
}

/* subscribe Section */
.subscribe{
    margin: 140px;
    width: 1320px;
    height: 600px;
    position: relative;
    border-radius: 10px;
    background-color: #fdf1f1;
    text-align: center;
    padding: 150px;
    padding-top: 70px;
}
.subscribe #subscribe-news{
    color: #070211; 
    font-family: Merriweather;
    padding-top: 10px;
    font-size: 48px;
    font-weight: 900;
}

.subscribe #subscribe-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 400;
}

.subscribe .input-email{
    padding-top: 50px;
    border: none;
    height: 50px;
    border-radius: 50px;

}

#sub-email{
    background-color: #F00;
}
/* footer section */
.footer-section{
    width: 100%;
    height: 500px;
    color:#FFF;
    padding-left: 100px;
    background-color: #070211;
}
.footer-text{
    display: flex;
    font-family: Inter;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}
.footer-add{
    padding-top: 100px;
    padding-bottom: 40px;
}
.footer-contact{
    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 40px;
}

.social-links{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.footer-arrange{
    display: flex;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 200px;
}

.social-links .link-icon{
    padding-right: 10px;
}